body {
    background-color: #000;
    text-align: center;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif sans-serif;
    
}

.header -- main{
    font-weight: normal;
    font-size: 50px;
    font-color: #fff;
}